* {
    margin:0;
    padding: 0;
    box-sizing: border-box ;
}
body {
    max-width: 1440px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
img {
    max-width: 100%;
    display: block;
    margin: auto;
}
a {
    text-decoration: none;
    cursor: pointer;
}