/* breadcrumb */
.breadcrumb {
    align-items: center;
    margin-top: 86px;
}

.breadcrumb-container {
    font-size: 18px;
    margin-bottom: 76px;
}

.bi-house-door-fill {
    font-size: 24px;
}

.breadcrumb-item+.breadcrumb-item::before {
    font-family: bootstrap-icons;
    content: '\F231' !important;
    color: var(--dark-chocolate-text-color) !important;
}

.breadcrumb-item.active {
    color: var(--golden-chocolate-text-color) !important;
    font-weight: 600;
}

.breadcrumb-item {
    font-weight: 500;
    align-items: center;
}

/* cart infomation */
.cart-wrap-left .cart-product-info-box {
    border: 1px solid #C2C1C1;
    padding: 40px 40px 0 40px;
    border-radius: 4px;
}

.form-check-input {
    border: 1px solid var(--lightbright-chocolate-text-color) !important;
    width: 20px !important;
    height: 20px !important;
}

.form-check-input[type=checkbox] {
    border-radius: 0 !important;
}

.form-check-input:checked[type=checkbox] {
    background-image: none !important;
    background-color: var(--lightbright-chocolate-text-color) !important;
}

.form-check-input:focus {
    box-shadow: none !important;
}

.cart-wrap-left p {
    margin-bottom: 8px;
}

.cart-wrap-left .product-info-wrap .product-title {
    font-weight: 700;
}
.cart-wrap-left .product-info-wrap .product-edit {
    border: none;
    color: var(--lightbright-chocolate-text-color);
    background: none;
}
.cart-wrap-left .product-info-wrap .product-edit:hover .fa {
    transform: scale(1.3);
}
.cart-wrap-left .product-info-wrap .product-edit:hover {
    text-decoration: underline;
}
.cart-wrap-left .product-info-wrap img {
    width: 80px;
    height: 80px;
}

.cart-wrap-left .old-price {
    color: #c2c1c1;
    font-size: 14px;
    line-height: 19px;
    text-decoration-line: line-through;
    padding-right:4px;
}

.cart-wrap-left .horizontal-slash {
    width: 1px;
    height: 14px;
    background: #c2c1c1;
    margin-right:4px;
}

.cart-wrap-left .discount-percent {
    color: #c2c1c1;
    font-size: 14px;
    line-height: 19px;
   
}

.cart-wrap-left .calc-price {
    font-weight: 600;
    color: var(--golden-chocolate-text-color);

}

/* quantity selection */
.quantity-select {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quantity-select .quantity-select {
    display: flex;
}

.quantity-select button {
    width: 30px;
    height: 30px;
    border: none;
    background-color: white;
    border: 1px solid #C2C1C1;
}

.quantity-select .button-left {
    border-radius: 4px 0 0 4px;
}

.quantity-select .button-right {
    border-radius: 0 4px 4px 0;
}

.quantity-select div {
    width: 35px;
    height: 30px;
    border-top: 1px solid #C2C1C1;
    border-bottom: 1px solid #C2C1C1;
}


.cart-wrap-left .product-remove {
    color: var(--dark-chocolate-text-color);
    font-size: 20px;
}
.cart-wrap-left .product-remove:hover {
    color: var(--fail-color);
    transform: rotate(10deg);
    transition: 0.5s ease;
}
.cart-wrap-left .cart-note {
    width: 50%;
    margin-bottom: 32px;
}
.cart-wrap-left .calc-price p {
    margin-bottom:0;
}
.cart-wrap-left .cart-vertical-slash {
    height: 1px;
    width: 100%;
    background: var(--sweet-pinky-background-color);
    margin-bottom: 40px;
}


/* WRAP RIGHT */

.cart-wrap-right .discount-box,
.shipping-box {
    padding: 20px;
    border: 1px solid #c2c1c1;
    border-radius: 4px;
    margin-bottom: 24px;
}

.cart-wrap-right .box-title {
    font-weight: 500;
}

.cart-wrap-right .discount-content {
    text-align: right;
    margin-left: 14px;
    margin-bottom:20px;
}

.cart-wrap-right .discount-action {
    text-align: center;
    color: var(--lightbright-chocolate-text-color);
    margin-bottom: 0;
}
.cart-wrap-right .shipment-info-box {
    background: var(--verylight-pinky-background-color);
    border-radius: 4px;
    padding: 20px;
}
.cart-wrap-right .shipment-count {
    width: 25px;
    height: 25px;
    background: var(--dark-chocolate-text-color);
    border-radius: 50%;
    color: white;
    font-weight: 500;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-wrap-right .info-box {
    border-bottom: 1px solid #C2C1C1;
    margin-bottom: 20px;
    padding-bottom:20px;
}

.cart-wrap-right .shipment-info-box .old-price {
    text-decoration-line: line-through;
    color: #C2C1C1;
    margin-right: 4px;
}

.cart-wrap-right .shipment-info-box .total-title {
    font-weight: 800;
}

.cart-wrap-right .shipment-info-box .total-price {
    font-family: 'Cormorant';
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    color: var(--golden-chocolate-text-color);
}
.shipment-info-box .go-buy-btn {
    text-transform:uppercase;
    background: var(--lightbright-chocolate-text-color);
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    width: 314px;
    height: 50px;
}
.go-buy-btn:hover {
    border: 1px solid var(--lightbright-chocolate-text-color);
    background-color: white;
    color: var(--lightbright-chocolate-text-color);
    transition: 0.5s ease;
}
/* back to category button */
.back-to-category {
    border: 1px solid var(--lightbright-chocolate-text-color);
    color: var(--lightbright-chocolate-text-color);
    background: white;
    width: 236px;
    height: 47px;
    margin-top: 72px;
    border-radius: 4px;
}
.back-to-category:hover  {
    background: var(--lightbright-chocolate-text-color);
    color: white !important;
}

/* RESPONSIVE */
@media screen and (max-width: 1230px) {   
}

@media screen and (max-width: 1199px) {  
    .cart-wrap-left .cart-product-info-box {
        padding: 20px 20px 0 20px;
        margin-bottom: 24px;
    }
}

@media screen and (max-width: 1024px) {

}
@media screen and (max-width: 992px) {
   
}
@media screen and (max-width: 768px) {
    
}