/* PRODUCT-DETAIL */

/* breadcrumb */
.breadcrumb {
    align-items: center;
}

.breadcrumb-container {
    font-size: 18px;
}

.bi-house-door-fill {
    font-size: 24px;
}

.breadcrumb-item+.breadcrumb-item::before {
    font-family: bootstrap-icons;
    content: '\F231' !important;
    color: var(--dark-chocolate-text-color) !important;
}

.breadcrumb-item.active {
    color: var(--golden-chocolate-text-color) !important;
    font-weight: 600;
}

.breadcrumb-item {
    font-weight: 500;
    align-items: center;
}

/* LEFT WRAP */
#product-detail {
    margin-bottom: 142px;
}

#product-detail .detail-wrap-left .slider-for {
    padding: 0 80px;
}

#product-detail .detail-wrap-left .slider-nav {
    padding: 0 112px;
}

#product-detail .slick-prev:before {
    content: '\F27A';
    font-family: bootstrap-icons;
    font-size: 40px;
    line-height: 1;
    opacity: .8;
    color: var(--dark-chocolate-text-color);
}

#product-detail .slick-prev {
    left: 68px !important;
}

#product-detail .slick-next:before {
    content: '\F27B';
    font-family: bootstrap-icons;
    font-size: 40px;
    line-height: 1;
    opacity: .8;
    color: var(--dark-chocolate-text-color);
}

#product-detail .slick-next {
    right: 86px !important;
}

#product-detail .slick-dots {
    left: 0;
}

/* RIGHT WRAP */
#product-detail .product-title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 8px;
}

#product-detail .product-code {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 8px;
}


#product-detail .rate-share-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#product-detail .rate-share-wrap .margin-right {
    margin-right: 14px;
}

#product-detail .rate-share-wrap a:hover {
    color: var(--lightbright-chocolate-text-color) !important;
}

#product-detail .short-star-rating {
    color: var(--golden-chocolate-text-color) !important
}

#product-detail .vertical-slash {
    height: 20px;
    width: 1px;
    background: #C2C1C1;
}

#product-detail .product-price-wrap {
    height: 134px;
    border-radius: 20px;
    border: 1px solid var(--sweet-pinky-background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 48px;
    margin-bottom: 20px;
}

#product-detail .product-price {
    font-family: 'Cormorant';
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: var(--golden-chocolate-text-color);
    margin-bottom: 14px;
}

#product-detail .discount-price-wrap {
    display: flex;
    font-size: 18px;
    line-height: 22px;
}

#product-detail .discount-price-wrap .discount-price {
    text-decoration-line: line-through;
    color: #C2C1C1;
    margin-right: 14px;
}

#product-detail .discount-price-wrap .vertical-slash {
    margin-right: 14px;
}

/* piece count */
#product-detail .detail-wrap-right .pieces-count-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* piece count select*/
.custom-select {
    position: relative;
    font-size: 18px;
    line-height: 22px;
}

.custom-select select {
    display: none;
    /*hide original SELECT element: */
}

.select-items div,
.select-selected {
    color: var(--dark-chocolate-text-color);
    padding: 8px 14px;
    border: 1px solid;
    border-color: #C2C1C1;
    cursor: pointer;
    line-height: 22px;
}

/* .select-selected {
    background-color: DodgerBlue;
} */

/* Style the arrow inside the select element: */
.select-selected:after {
    position: absolute;
    content: "";
    top: 50%;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: var(--dark-chocolate-text-color) transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
    border-color: transparent transparent var(--dark-chocolate-text-color) transparent;
    top: 30%;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
    color: var(--dark-chocolate-text-color);
    padding: 8px 14px;
    border: 1px solid;
    border-color: #C2C1C1;
    cursor: pointer;
    line-height: 22px;
}

/* Style items (options): */
.select-items {
    position: absolute;
    background-color: white;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
    display: none;
}

/* .select-items div:hover,
.same-as-selected {
    background-color: var(--verylight-blue-background-color)
} */
.select-items div:hover {
    background-color: var(--sweet-pinky-background-color)
}

.select-items div {
    border-style: none solid;
}

.select-items div:last-child {
    border-style: none solid solid;
}

/* piece count select end */
/* box radio selection */
.radio-select-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.radio-select-wrap .box {
    width: 54px;
    height: 25px;
}

.radio-select-wrap .select1 {
    border: 1px solid var(--sweet-pinky-background-color);
}

.radio-select-wrap .select2 {
    background: var(--sweet-blue-background-color);
}

.radio-select-wrap .select3 {
    background: var(--sweet-pinky-background-color);
}

.radio-select-wrap .select4 {
    background: var(--true-chocolate-text-color);
}

.radio-select-wrap [type=radio] {
    position: absolute;
    opacity: 0;
}

.radio-select-wrap [type=radio]+div:not(.select4) {
    cursor: pointer;
    margin-right: 10px;
}

.radio-select-wrap [type=radio]:checked+div {
    outline: 2px solid var(--lightbright-chocolate-text-color);
}

/* quantity selection */
.quantity-select-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.quantity-select-wrap .quantity-select {
    display: flex;
}

.quantity-select-wrap button {
    width: 50px;
    height: 40px;
    border: none;
    background-color: white;
    border: 1px solid #C2C1C1;
}

.quantity-select-wrap .button-left {
    border-radius: 4px 0 0 4px;
}

.quantity-select-wrap .button-right {
    border-radius: 0 4px 4px 0;
}

.quantity-select-wrap .quantity-select div {
    width: 50px;
    height: 40px;
    border-top: 1px solid #C2C1C1;
    border-bottom: 1px solid #C2C1C1;
}

/* #product-detail .horizontal-dash {
    width: 100%;
    height: 1px;
    background: var(--sweet-pinky-background-color);
} */
#product-detail .coupon-info-wrap {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 14px;
    line-height: 17px;
    border-top: 1px solid var(--sweet-pinky-background-color);
    border-bottom: 1px solid var(--sweet-pinky-background-color);
    padding: 16px 0;
    margin-bottom: 20px;
}

#product-detail .coupon-info-wrap p {
    margin-bottom: 0;
}

#product-detail .coupon-icon-wrap {
    position: relative;
}

.coupon-icon-wrap .coupon-icon-text {
    font-size: 12px;
    line-height: 15px;
    width: 72px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(10%, 25%);
}

#product-detail .coupon-info-wrap a.coupon-condition {
    color: #5EA0ED !important;
}

#product-detail .coupon-info-wrap a.coupon-condition:hover {
    text-decoration: underline !important;
}

#product-detail .coupon-info-wrap button {
    width: 84px;
    height: 35px;
    background-color: var(--lightbright-chocolate-text-color);
    font-size: 12px;
    line-height: 15px;
    border: none;
    border-radius: 4px;
}

#product-detail .coupon-info-wrap button>a {
    color: white !important;
}

#product-detail .coupon-info-wrap button:hover {
    background-color: white;
    border: 1px solid var(--lightbright-chocolate-text-color)
}

#product-detail .coupon-info-wrap button:hover a {
    color: var(--lightbright-chocolate-text-color) !important;
}

#product-detail .add-cart-btn {
    width: 100%;
    height: 70px;
    border: 1px solid var(--lightbright-chocolate-text-color);
    background: white;
    margin-bottom: 14px;
    border-radius: 4px;
}

#product-detail .add-cart-btn {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: var(--lightbright-chocolate-text-color) !important;
}
.go-buy-btn:hover {
    border: 1px solid var(--lightbright-chocolate-text-color);
    background-color: white;
    color: var(--lightbright-chocolate-text-color);
    transition: 0.5s ease;
}
#product-detail .add-cart-btn:hover {
    background: var(--lightbright-chocolate-text-color);
    color: white !important;
    transition: 0.5s ease;
}


#product-detail .buy-now-btn {
    width: 100%;
    height: 70px;
    border: none;
    background: var(--lightbright-chocolate-text-color) !important;
    border-radius: 4px;
}

#product-detail .buy-now-btn {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: white !important;
}

#product-detail .buy-now-btn:hover {
    border: 1px solid var(--lightbright-chocolate-text-color);
    background-color: white !important;
    color: var(--lightbright-chocolate-text-color) !important;
    transition: 0.5s ease;
}

/* DECRIPTION */
#product-decript .tab-wrap {
    display: flex;
}

#product-decript .btn {
    width: 190px;
    height: 50px;
    border: 1px solid var(--sweet-pinky-background-color);
    /* border-style: inset; */
    font-size: 18px;
    border-radius: 0;
}

.btn-check:focus+.btn,
.btn:focus {
    border: 2px solid var(--golden-chocolate-text-color) !important;
    box-shadow: none;
    font-weight: 600;
    color: var(--golden-chocolate-text-color);
}

/* decription */
#decription {
    margin: 74px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#decription p {
    line-height: 30px;
    margin-bottom: 30px
}

#decription span {
    line-height: 30px;
    margin-bottom: 30px
}

#decription img {
    margin-bottom: 30px;
}

#more {
    display: none;
}

#myBtn {
    width: 120px;
    height: 40px;
    border: 1px solid var(--dark-chocolate-text-color);
    border-radius: 4px;
    background: white;
}

/* nutrition */
#nutrition {
    margin: 74px 30px;
}

#nutrition p {
    line-height: 30px;
    margin-bottom: 30px
}

#nutrition img {
    margin-bottom: 30px;
}

#nutrition .nutrition-title {
    font-weight: 500;
}

#nutrition .nutrition-caution {
    font-weight: 500;
}

#nutrition .nutrition-title li {
    list-style: circle;
}

/* review */
#review {
    margin: 74px 30px;
}

/* rating star */
#star-rating-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
    border-bottom: 1px solid var(--sweet-pinky-background-color);
    padding-bottom: 60px;
}

.star-rating-wrap {
    display: flex;
    flex-direction: column;
    float: left;
    justify-content: center;
    align-items: center;
}

.star-rating input {
    border: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    opacity: 0;
}

.star-rating label {
    position: relative;
    float: right;
    color: #C8C8C8;
}

.star-rating label:before {
    margin: 5px;
    content: "\f005";
    font-family: FontAwesome;
    display: inline-block;
    font-size: 1.5em;
    color: #ccc;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.star-rating input:checked~label:before {
    color: var(--golden-chocolate-text-color);
}

.star-rating label:hover~label:before {
    color: var(--golden-chocolate-text-color)
}

.star-rating label:hover:before {
    color: var(--golden-chocolate-text-color);
}

#review .send-review-btn {
    width: 230px;
    height: 50px;
    border: 1px solid var(--lightbright-chocolate-text-color);
    background: white;
}

.send-review-btn a {
    color: var(--lightbright-chocolate-text-color) !important;
}

.rating-progess i {
    color: var(--golden-chocolate-text-color);
}

#review .progress {
    height: 9px;
    width: 186px;
    margin-left: 28px
}

#review .progress-bar {
    background-color: var(--golden-chocolate-text-color);
    width: 186px;
    height: 9px;
}

/* user comment */
.user-comment-wrap {
    display: flex;
}

.user-comment-wrap img {
    margin-right: 12px;
}

.user-comment-wrap .user-name {
    margin-bottom: 4px;
    font-weight: 700;
}
.user-comment-wrap .rating-5star .fa-star {
    color:var(--golden-chocolate-text-color)
}
.user-comment-wrap .user-verify {
    font-size: 12px;
    line-height: 15px;
    font-weight: 600;
    color: var(--success-color);
}

.user-comment-wrap .user-verify i {
    margin-right: 5px;
}

.user-comment-wrap .comment-verify p {
    margin-bottom: 6px;
}

.user-comment-wrap .comment-date {
    font-size: 12px;
    line-height: 15px;
    color: #C2C1C1;
}

.user-comment-wrap .comment-verify {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#user-comment .user-comment-content {
    margin-bottom: 14px;
}

#user-comment .user-comment-content p {
    margin: 24px 0 24px 52px;
}

a:hover .fa-thumbs-up {
    color: var(--success-color);
}

a:hover .fa-thumbs-down {
    color: var(--fail-color);
}

.user-comment-slash {
    width: 100%;
    height: 1px;
    background: var(--sweet-pinky-background-color);
    margin-bottom: 44px;
}

/* pagination */
.product-pagination {
    margin-top: 48px;
}

.page-link {
    width: 40px;
    height: 40px;
    margin: 10px;
    text-align: center;
    border-radius: 4px;
    border-color: var(--dark-chocolate-text-color) !important;
}

.page-link:hover {
    background-color: white !important;

}

.page-item.active .page-link {
    background-color: white !important;
    border: 1px solid var(--dark-chocolate-text-color) !important;
}

/* .page-item.disabled .page-link {
    opacity: 0.5;
} */

.middle {
    border: none !important;
}

.page-item:hover a {
    color: var(--lightbright-chocolate-text-color) !important;
}

.page-item:hover .page-link {
    color: var(--lightbright-chocolate-text-color) !important;
    border-color: var(--lightbright-chocolate-text-color) !important;
}

/* question */
#question {
    margin: 74px 30px;
}

.send-question-wrap {
    margin-top: 50px;
    margin-bottom: 100px;
}

.send-question-wrap p {
    margin-bottom: 24px;
}

#question .btn {
    border: 1px solid var(--lightbright-chocolate-text-color);
    width: 130px;
    height: 42px;
    color: var(--lightbright-chocolate-text-color);
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translate(0, -50%);
    z-index: 10;
}

#question input {
    padding: 38px 50px;
}

#question .btn:hover {
    border: none;
    color: white;
    background: var(--lightbright-chocolate-text-color);
}

#question .user-comment-content {
    margin-bottom: 14px;
}

#question .user-comment-content p {
    margin: 24px 0 24px 52px;
}
#question .admin-name {
    font-weight: 700;
    margin:0 14px 0 52px !important;
}
#question .admin-box {
    width: 90px;
    height: 18px;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    border: 1px solid #C2C1C1;
}
/* MAYBE YOU ALSO LIKE */
#best-seller {
    padding-top: 88px;
    padding-bottom: 70px;
}

.headerline-para {
    width: 140px;
    height: 4px;
    background-color: var(--golden-chocolate-text-color);
    margin-bottom: 10px;
}

.best-seller {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#best-seller .best-seller-title {
    font-size: 21px;
    font-weight: 600;
    line-height: 26px;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-name {
    text-align: center;
    font-size: 18px;
    color: var(--dark-chocolate-text-color);
    line-height: 22px;
}

.product-price {
    font-family: 'Cormorant', serif;
    color: var(--golden-chocolate-text-color);
    font-size: 28px;
    font-weight: 600;
    line-height: 34px;

}
/* slick maybe you also like */
/* .slick-dots li button:before {
    font-family: 'slick';
    font-size: 13px;
}
.slick-dots li.slick-active button:before {
    opacity: .75;
    color: var(--dark-chocolate-text-color);
}
.slick-prev:before {
    content: '\F27A';
    font-family: bootstrap-icons;
    font-size: 80px;
    line-height: 1;
    opacity: .8;
    color: var(--dark-chocolate-text-color);
}

.slick-next:before {
    content: '\F27B';
    font-family: bootstrap-icons;
    font-size: 80px;
    line-height: 1;
    opacity: .8;
    color: var(--dark-chocolate-text-color);
}

.slick-prev {
    left: -60px;
}

.slick-next {
    right: 0;
} */
/* RESPONSIVE */
@media screen and (max-width: 1230px) {   
}

@media screen and (max-width: 1199px) {  
    #star-rating-wrap {
        flex-direction: column;
    }
    #review .send-review-btn {
        margin-top: 18px;
    }
}

@media screen and (max-width: 1024px) {
    
   
 
}
@media screen and (max-width: 992px) {
   .detail-wrap-right {
    margin-top: 50px;
   }
}
@media screen and (max-width: 768px) {
    
}