
/* slider */
.carousel-caption {
    position: absolute;
    right: 0%;
    top: 30%;
    left: 0%;
    bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    color: #fff;
    text-align: center;
}

.carousel-caption h5 {
    text-transform: uppercase;
    font-family: 'Cormorant', serif;
    font-size: 36px;
    font-weight: bold;
    line-height: 44px;
    margin-bottom: 0;
}

.carousel-caption p {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    margin: 30px 0;
}

.carousel-caption button {
    background-color: var(--lightbright-chocolate-text-color);
    padding: 11px 43px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
}

.carousel-caption button:hover {
    background-color: transparent;
    color: var(--lightbright-chocolate-text-color) !important;
    border: 2px solid var(--lightbright-chocolate-text-color);
}

.carousel-caption button:hover a {
    color: var(--lightbright-chocolate-text-color) !important;
    transition: 1s ease;
    font-weight: 600;
}

.carousel-indicators [data-bs-target] {
    width: 50px;
    height: 5px;
    margin-right: 15px;
    margin-left: 15px;
}

.carousel-item {
    transition: transform 2s ease-in-out !important;
}

.carousel-control-next:hover {
    transform: scale(1.5);
}

.carousel-control-prev:hover {
    transform: scale(1.5);
}
/* slider end */
/* .company-word-span START */
.company-word-span {
    transform: scale(0.94);
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

@keyframes scale {
    100% {
        transform: scale(1);
    }
}

.company-word-span span {
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
}
.company-word-span .reveal {
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
}

.company-word-span span:nth-child(1) {
    animation: fade-in 5s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.company-word-span span:nth-child(2) {
    animation: fade-in 5s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.company-word-span span:nth-child(3) {
    animation: fade-in 5s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.company-word-span span:nth-child(4) {
    animation: fade-in 5s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.company-word-span span:nth-child(5) {
    animation: fade-in 5s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.company-word-span span:nth-child(6) {
    animation: fade-in 5s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.company-word-span span:nth-child(7) {
    animation: fade-in 5s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
@keyframes fade-in {
    100% {
        opacity: 1;
        filter: blur(0);
    }
}

#company-word {
    width: 700px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    padding-top: 88px;
}

#company-word .company-name {
    font-size: 18px;
    font-weight: 500;
    color: var(--golden-chocolate-text-color);
    line-height: 22px;
}

#company-word .company-word-span {
    text-transform: uppercase;
    font-family: 'Cormorant', serif;
    font-size: 48px;
    text-align: center;
    line-height: 58px;
}

.quentin-word {
    font-family: font_quentin;
    font-size: 60px;
    color: var(--sweet-pinky-background-color);
    line-height: 88px;
}

.product-btn:hover {
    background-color: white;

    border: 1px solid var(--lightbright-chocolate-text-color);
}

.product-btn:hover a {
    color: var(--lightbright-chocolate-text-color) !important;
}

/* BEST SELLER */
#best-seller {
    padding-top: 88px;
    padding-bottom: 70px;
}

#best-seller img {
    max-width: 250px;
}

.headerline-para {
    width: 140px;
    height: 4px;
    background-color: var(--golden-chocolate-text-color);
    margin-bottom: 10px;
}

.best-seller {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#best-seller .best-seller-title {
    font-size: 21px;
    font-weight: 600;
    line-height: 26px;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-name {
    text-align: center;
    font-size: 18px;
    color: var(--dark-chocolate-text-color);
    line-height: 22px;
}

.product-price {
    font-family: 'Cormorant', serif;
    color: var(--golden-chocolate-text-color);
    font-size: 28px;
    font-weight: 600;
    line-height: 34px;

}

/* .price-unit {
    text-decoration: underline;
} */

/* COLLECTION */
/* double */
.feature-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
}

.feature-item-left img,
.feature-item-right img {
    transform: scale(0.8);
}

.feature-item-left:hover img {
    transform: scale(1);
    transition: 2s ease;
}

.feature-item-right:hover img {
    transform: scale(1);
    transition: 1s ease;
}

.quentin-word {
    margin-bottom: 28px;
}

.feature-title {
    font-size: 21px;
    font-weight: 600;
    line-height: 26px;
}

#collection .collection-image {
    margin-bottom: 18px;
}

#collection .company-name {
    color: var(--golden-chocolate-text-color);
    font-size: 21px;
    font-weight: 600;
    line-height: 26px;
    padding-bottom: 18px;
}

#collection .collection-para {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 18px;
}

#collection .quentin-word {
    font-size: 48px;

    bottom: -80px;
    right: 10px;
}

/* mint */
#collection-mint-product {
    padding: 87px 0;
    background-color: var(--verylight-blue-background-color);
}

#collection-mint-product .mint-image {
    max-width: 450px;
}

#collection-mint-product .company-name {
    padding-bottom: 28px;
}

#collection-mint-product .collection-product-para {
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
    max-width: 563px;
    text-align: center;
    margin-bottom: 0;
    font-family: 'Cormorant', serif;
}

#collection-mint-product .company-name2 {
    font-family: 'Philosopher', sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 28px;
}

#collection-mint-product .quentin-word {
    font-weight: 400;
    font-size: 60px;
    line-height: 88px;
    margin-bottom: 28px;
    bottom: -70px;
    right: -115px;
    color: var(--sweet-pinky-background-color)
}

.btn1 {
    background-color: var(--lightbright-chocolate-text-color);
    border: none;
    border-radius: 5px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

#collection-mint-product .product-btn {
    width: 236px;
    height: 48px;
    padding: 6px 30px;
}

/* continental */
#collection-continental-product {
    padding: 114px 0;
}

#collection-continental-product .company-name {
    padding-bottom: 28px
}

#collection-continental-product .continental-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
}

#collection-continental-product .continental-product p {
    max-width: 450px;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 28px;
}

#collection-continental-product .continental-product .product-btn {
    width: 236px;
    height: 48px;
    padding: 6px 30px;
}

#collection-continental-product .continental-image {
    display: flex;
    justify-content: center;
}

#collection-continental-product img {
    max-width: 521px;
}

/* others */
#other-products {
    margin-bottom: 114px;
}

#other-products .slick-slide {
    /* width: 329px; */

    padding: 11.5px;
}

#other-products .other-product-items {
    position: unset !important;
}

#other-products p {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 40px;
}

#other-products .other-products-span {
    background-color: var(--dark-chocolate-text-color);
    color: white;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    text-align: center;
    /* padding: 15px 0;
    margin: 0 15px; */
    max-width: 306px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* SLICK */
.slick-dots li button:before {
    font-family: 'slick';
    font-size: 13px;
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: var(--dark-chocolate-text-color);
}

.slick-prev:before {
    content: '\F27A';
    font-family: bootstrap-icons;
    font-size: 35px;
    line-height: 1;
    opacity: .8;
    color: var(--dark-chocolate-text-color);
}

.slick-next:before {
    content: '\F27B';
    font-family: bootstrap-icons;
    font-size: 35px;
    line-height: 1;
    opacity: .8;
    color: var(--dark-chocolate-text-color);
}

.slick-prev {
    left: -50px;
}

.slick-next {
    right: -30px;
}

/* ABOUT US */
#about-us {
    margin: 0 180px 140px 180px;
}

#about-us .about-us-left-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#about-us .best-seller {
    align-items: flex-start;
    margin-bottom: 28px;
}

#about-us .about-us-item p {
    max-width: 270px;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 28px;
}

#about-us .about-us-item .product-btn {
    width: 160px;
    height: 48px;
    padding: 6px 30px;
}

/* VIDEO */
#product-video {
    margin-bottom: 140px;
    padding: 0 180px;
}

/* PROGRAM-COURSE */
#program-course {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 140px;
    background: url(../img/background-image/background-pinky.png);
    background-repeat-x: repeat;
    background-position-y: 14px;
    /* background-size: 500px 200px; */
}

#program-course img {
    position: absolute;
    top: 0%;
    left: 12px;
}

#program-course #layer2 {
    top: 30px;
    left: 318px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#program-course #layer3 {
    top: 363px;
    left: 167px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#program-course .program-details .feature-container {}

#program-course p {
    max-width: 365px;
    margin-bottom: 28px;
    color: var(--dark-chocolate-text-color);
}

#program-course .product-name {
    color: var(--lightbright-chocolate-text-color);
    margin-bottom: 37px;
}

.program-image {
    position: relative;
    float: left;
    /* background-color: aqua; */
    padding-bottom: 550px;
}

.program-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 180px;
}

#program-course .program-details .product-btn {
    width: 236px;
    height: 48px;
    padding: 6px 30px;
}

/*INSTAGRAM */
#instagram {
    margin-bottom: 155px;
}

.layout {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: auto auto;
    /* gap: 24px; */
}

.layout-item1 {
    grid-area: 1/1/2/2;
}

.layout-item2 {
    grid-area: 1/2/2/3;
}

.layout-item3 {
    grid-area: 1/3/3/4;
}

.layout-item4 {
    grid-area: 2/1/3/3;
}


/* RESPONSIVE */
@media screen and (max-width: 1230px) {}

@media screen and (max-width: 1199px) {
    
    #best-seller img {
        max-width: 180px;
    }
    #program-course img {
        max-width: 50%;
    }

    #program-course #layer2 {
        left: 220px;
    }

    #program-course #layer3 {
        top: 306px;
        left: 90px;
    }
}

@media screen and (max-width: 1024px) {

    #company-word .company-word-span {
        font-size: 38px;
        max-width: 500px;
    }

    #collection .company-name {
        font-size: 16px;
    }

    #collection-mint-product .collection-product-para {
        font-size: 30px;
        font-weight: 400;
        line-height: 44px;
        max-width: 500px;
        text-align: center;
        margin-bottom: 0;
        font-family: 'Cormorant', serif;
    }

    #collection-mint-product .company-name2 {
        font-size: 30px;
    }
}

@media screen and (max-width: 992px) {
    #collection-continental-product {
        padding: 35px 0;
    }

    #collection-continental-product img {
        margin-top: 30px;
    }
    #other-product {
        margin-bottom: 100px;
    }
    
    #about-us {
        margin:0;
        margin-bottom: 100px;
    }
    #about-us .about-us-item p {
        max-width: 220px;
    }

    /* #about-us img {
        max-width: 300px;
    } */
    #product-video {
        padding: 0;
        margin-bottom: 100px;
    }
    .program-details {
        padding-left: 0;
    }
    #program-course img {
        max-width: 40%;
    }
    .program-image {
        padding-bottom: 0;
    }
    #program-course #layer2 {
        left: 146px;
    }
    #program-course #layer3 {
        top: 200px;
        left: 70px;
    }
}

@media screen and (max-width: 768px) {
    .top-menu {
        padding: 12px;
        height:fit-content;
    }
    .carousel-caption {
        top: 15%;
    }
    .d-none {
        display:block !important;
    }
    .carousel-caption h5 {
        font-size: 16px;
    }
    .carousel-caption p {
        font-size: 16px;
        margin:16px auto;
        max-width: 375px;
    }
    .carousel-indicators {
        margin-bottom: 0;
    }
    .carousel-indicators [data-bs-target] {
        width: 35px;
        margin: 5px;
        
    }
    
    #collection .collection-image {
        max-width: 180px;
    }

    #collection-mint-product .mint-image {
        max-width: 250px;
    }
    #other-products {
        margin-bottom: 70px;
    }
    #about-us {
        padding: 0;
        margin-bottom: 40px;
    }
    #program-course #layer2 {
        left: 112px;
    }
    #program-course #layer3 {
        top: 156px;
    left: 54px;
    }

}
@media screen and (max-width: 650px) {
    .top-menu {
        justify-content: center;
    flex-wrap: wrap;
    }
    .carousel-indicators {
        display: none;
    }
    #company-word {
        padding-top: 40px;
        max-width: 374px;
    }
    #company-word .company-name {
        font-size: 14px;
    }
    #company-word .company-word-span {
        font-size: 30px;
        max-width: 350px;
    }
    .quentin-word {
        font-size:40px;
    }
    #best-seller {
        padding-top: 0;
    }

}
@media screen and (max-width: 576px) {
    .slick-dots {
        display: none;
    }
    #collection-mint-product .collection-product-para {
        font-size:30px;
    }
    #collection-continental-product img {
        max-width: 100%;;
    }
}
@media screen and (max-width: 575px) {
    .slick-dots {
        display: none;
    }
    .slick-next {
        display: none !important;
    }
    .carousel-caption button{
        padding: 6px 20px;
        font-size: 16px;
    }
    .product-btn {
        max-width: fit-content;
    }
    .program-image {
        padding-bottom: 300px;
        margin-left: 88px;
    }
    #program-course p {
        max-width: 268px;
    }
   
    #about-us .about-us-item .product-btn {
        height: 48px;
    padding: 6px 20px;
    }
    #program-course .program-details .product-btn {
        height: 48px;
    padding: 6px 20px;
    }

}
@media screen and (max-width: 530px) {
    .carousel-caption {
        top: 0%;
    }
    .carousel-caption p {
        margin: 5px auto;
    }
} 
@media screen and (max-width: 375px) {
    .program-image {
        padding-bottom: 270px;
        margin-left: 80px;
    }
    #program-course p {
        max-width: 268px;
    }
    .program-details {
        padding-right:0;
    }
}