/* slick css */
@import url(../../lib/slick-1.8.1/slick/slick.css);
@import url(../../lib/slick-1.8.1/slick/slick-theme.css);
/* bootsrap and icon css */
@import url(../../lib/bootstrap-5.1.3/css/bootstrap.min.css);
@import url(../../lib/bootstrap-icons-1.9.1/font/bootstrap-icons.css);
/* font-awesome */
@import url(../../lib/font-awesome-4.7.0/css/font-awesome.min.css);
@import url("./base.css");
@import url("./responsive/responsive.css");

@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700;800&family=Overpass:wght@400;500;600;700&family=Philosopher:wght@400;700&display=swap');
@font-face {
  font-family:font_quentin;
  src:url('../font/Quentin.ttf') format('truetype'),
  url('../fonts/Captureit.eot#iefix') format('embedded-opentype'),
  url('../fonts/Captureit.woff') format('woff');
  font-weight:normal;
  font-style:normal;
 }
