.wrap {
    margin:auto;
    max-width: 1000px;
    margin-top: 94px;
    margin-bottom: 94px;
    background-color:white;
    height:100%;
}
.header-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.list-menu {
    position: sticky;
    top:0;
    z-index: 1;
    flex: initial;
    box-sizing: border-box;
    background-color:rgb(30, 211, 120);
    width: 100%;
    padding: 3px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    align-items: center;
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.parent-menu-item {
    align-items: center;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 1.1rem;
    position: relative;
    text-transform: uppercase;
    box-sizing: border-box;
    margin: 15px;
}
.parent-menu-item a {
    color: #fff;
    text-decoration: none;
}
.header-container .parent-menu-item a:hover {
    color:rgb(24, 173, 158);
    font-weight: bold;
}
.picture-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #e2e2e2;
}
.picture-container img {
    max-width: 100%;
}
.block {
    width: calc((100% - 30px) / 3);
    margin-top: 20px;
    margin-bottom: 10px;
    position:relative;
    height: 230px;
    overflow: hidden
}
.effect {
    opacity: 1;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    max-width: 100%;
}
.text {
    color: black;
    font-size: 16px;
    padding: 16px 32px;
}
.block:hover .middle {
    opacity: 1;
}
.block:hover img {
    opacity: 0.3;
}
.block a {
    text-decoration: none;
    color:black;
}