@font-face {
    font-family: 'incon';
    src: url('./fonts/Inconsolata/Inconsolata-Regular.ttf');
}
@font-face {
    font-family: 'play';
    src: url('./fonts/Playfair_Display/PlayfairDisplay-Regular.ttf');
}
@font-face {
    font-family:'ubuntu' ;
    src: url('./fonts/Ubuntu/Ubuntu-Light.ttf');
}

/* .container {
    margin-left: 70px;
    margin-right:70px;
} */
.navbar-brand {
    font-family:'incon';
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size:30px;

}
.nav-item {
    font-family: 'play';
    font-size:16px;
    padding-left:100px;
    color: rgb(98, 98, 98);
    
}
h6 {
    font-family: 'ubuntu';
    font-size:14px;
    font-weight: bold;
    margin-bottom: 27px;
    color: rgb(180, 173, 158);
}
a {
    color: rgb(180, 173, 158);
    text-decoration: none;
}
a:hover {
    color: rgb(134, 132, 127);
}
h3 {
    font-family: 'play';
    font-size:30px;
    margin-bottom: 34px;
    color: rgb(98, 98, 98);
}
p {
    font-family: 'play';
    font-size:14px;
    color: rgb(98, 98, 98);
}
.para1 {
    padding: 0 81px 0 81px;

}
@media (min-width: 1200px) {
    .container {
        width: 1062px;
    }
}