@media screen and (max-width: 1320px) {
    body {
        font-size: 15px !important;
    }
    
}
@media screen and (max-width: 1199px) {  
    .header-items {
        height: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start; 
    } 
    .header-items a {
        margin-bottom: 30px;
        margin-left: 20px !important;
    }

    .header-items img {
        position: relative;
        transform: translate(0, 0);
        margin:10px 0;
    }
}
@media screen and (max-width: 992px) {
   
    
}